<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->
<!--
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link" id="pills-useraccounts-tab" data-toggle="pill" href="#pills-useraccounts" role="tab" aria-controls="pills-accounts" aria-selected="false">User Accounts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" id="pills-films-tab" data-toggle="pill" href="#pills-films" role="tab" aria-controls="pills-films" aria-selected="true">Films</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="false">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" id="pills-test-tab" data-toggle="pill" href="#pills-test" role="tab" aria-controls="pills-test" aria-selected="false">Test page</a>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade" id="pills-useraccounts" role="tabpanel" aria-labelledby="pills-accounts-tab">
    <app-user-accounts></app-user-accounts>
  </div>
  <div class="tab-pane fade show active" id="pills-films" role="tabpanel" aria-labelledby="pills-films-tab">
    <app-films></app-films>
  </div>
  <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
    <app-login></app-login>
  </div>
  <div class="tab-pane fade" id="pills-test" role="tabpanel" aria-labelledby="pills-test-tab">
  Home
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active">User Accounts</a>
    <a href="#" class="list-group-item list-group-item-action">Films</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Wallets</a>
    <a href="#" class="list-group-item list-group-item-action disabled">Billing Accounts</a>
  </div>
</div>
</div>
-->
