<ng4-loading-spinner> </ng4-loading-spinner>
<div class="container mt-lg-5">
    <div class="row">

        <div class="col">

            <h4>Billing accounts component:</h4>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">ID_AC</th>
                    <th scope="col">ID_BA</th>
                    <th scope="col">ID_ROLE</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Login</th>
                    <th scope="col">Password</th>
                    <th scope="col">Delete Action</th>
                    <th scope="col">Edit Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let userAccount of userAccounts">
                    <td scope="row">{{userAccount.id_AC}}</td>
                    <td>{{userAccount.id_BA}}</td>
                    <td>{{userAccount.id_ROLE}}</td>
                    <td>{{userAccount.email}}</td>
                    <td>{{userAccount.login}}</td>
                    <td>{{userAccount.password}}</td>
                    <td><button type="button" class="btn btn-secondary" (click)="_openModal(template, userAccount)">Edit</button></td>
                    <td><button type="button" class="btn btn-danger" (click)="_deleteBillingAccount(userAccount.id_AC)">Delete</button></td>
                </tr>

                </tbody>
            </table>

            <div>
                <p>User Accounts count: {{userAccounts ? userAccounts.length : 0}}</p>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-dark" (click)="_updateUserAccounts()">Update</button>

        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                    (click)="_openModal(template)">
                Create new user account
            </button>
        </div>
    </div>

</div>
